* {
	color: white;
	h3 {
		font-weight: 500;
	}
}
.box {
	padding: 8px 12px;
	border: 1px solid white;
	border-radius: 40px;
	text-align: center;
}
.forecast-container {
	padding: 10px 40px;
}
.iconify {
	font-size: 80px;
	margin-bottom: 25px;
}
