<div class='container' gdColumns='repeat(2,1fr)' gdGap='10px' gdColumns.lt-sm='1fr'>
  <div class='box'>
    <h1 class='city'>Cabudare, Venezuela</h1>
    <div class='date-wrapper' fxLayout fxLayoutAlign='space-between'>
      <h3>Thursday 29 June</h3>
      <h3>09:49 PM</h3>
    </div>
    
    <div class='current-weather' fxLayout >
      <figure fxFlex='50'>
        <div>
           <img src='https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png' >
        </div>
      </figure>
      <div class='current' fxFlex='50'>
        <h1>31°C</h1>
        <h3>Sunny</h3>
      </div>
    </div>
  </div>

  <div class='weather-wrapper box' gdColumns='repeat(2,1fr)' gdGap='10px'>
    <div class='stat'>
      <h1>90%</h1>
      <h3>Humidity</h3>
    </div>
    <div class='stat'>
      <h1>90°C</h1>
      <h3>Feels like</h3>
    </div>
    <div class='stat'>
      <h1>90%</h1>
      <h3>Precipitation"</h3>
    </div>
    <div class='stat'>
      <h1>90 km/h</h1>
      <h3>Wind speed</h3>
    </div>
  </div>
</div>
