<div *ngIf="weather.main" class="container" gdColumns="repeat(2,1fr)" gdGap="10px" gdColumns.lt-sm="1fr">
  <div class="box">
    <h1 class="city">
      {{ weather.name }}, {{ weather.sys.country }}
    </h1>
    <div class="date-wrapper" fxLayout fxLayoutAlign="space-between">
      <h3>{{ weather.dt | date: "EEEE d LLLL" }}</h3>
      <h3>{{ weather.dt | date: "h:mm a"}}</h3>
    </div>

    <div class="current-weather" fxLayout>
      <figure fxFlex="50">
        <span class="iconify wi {{ weather_icon }}"></span>
      </figure>
      <div class="current" fxFlex="50">
        <h1>{{ weather.main.temp | stringToInt }}°C</h1>
        <h3>{{ weather.weather[0].main }}</h3>
      </div>
    </div>
  </div>

  <div class="weather-wrapper box" gdColumns="repeat(2,1fr)" gdGap="10px">
    <div class="stat">
      <h1>{{ weather.main.humidity }}%</h1>
      <h3>Humidity</h3>
    </div>

    <div class="stat">
      <h1>{{ weather.main.feels_like | stringToInt }}°C</h1>
      <h3>Feels like</h3>
    </div>

    <div class="stat">
      <h1>{{ weather.main.temp_min | stringToInt }}°C</h1>
      <h3>Min temperature</h3>
    </div>

    <div class="stat">
      <h1>{{ weather.main.temp_max | stringToInt }}°C</h1>
      <h3>Max temperature</h3>
    </div>
  </div>
</div>
